<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>blast1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 27}, {212, 213}}</string>
			<key>spriteOffset</key>
			<string>{3, -8}</string>
			<key>spriteSize</key>
			<string>{212, 213}</string>
			<key>spriteSourceSize</key>
			<string>{248, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 0}, {212, 213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blast2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 74}, {130, 123}}</string>
			<key>spriteOffset</key>
			<string>{7, -10}</string>
			<key>spriteSize</key>
			<string>{130, 123}</string>
			<key>spriteSourceSize</key>
			<string>{248, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 253}, {130, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blast3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 32}, {188, 197}}</string>
			<key>spriteOffset</key>
			<string>{12, -5}</string>
			<key>spriteSize</key>
			<string>{188, 197}</string>
			<key>spriteSourceSize</key>
			<string>{248, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 215}, {188, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blast4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 251}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{248, 251}</string>
			<key>spriteSourceSize</key>
			<string>{248, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {248, 251}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blast5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{75, 81}, {106, 105}}</string>
			<key>spriteOffset</key>
			<string>{4, -8}</string>
			<key>spriteSize</key>
			<string>{106, 105}</string>
			<key>spriteSourceSize</key>
			<string>{248, 251}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 253}, {106, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blink1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 592}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blink2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 574}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blink3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 1002}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blink4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 788}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blink5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1127}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blink6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 735}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>down1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 681}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>down2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 735}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>down3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 628}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>down4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 360}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>down5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 521}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>left0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 628}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>left1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 521}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>left2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 949}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>left3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 806}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>left4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{239, 414}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>left5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 842}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>right1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 699}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>right2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 1109}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>right3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1020}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>right4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 913}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>right5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 467}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>right6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 949}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>up1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 378}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>up2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{107, 895}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>up3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 485}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>up4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 1056}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>up5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 842}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>up6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 14}, {105, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{105, 105}</string>
			<key>spriteSourceSize</key>
			<string>{131, 131}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 414}, {105, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 2048}</string>
		<key>name</key>
		<string>Player</string>
		<key>textureFileName</key>
		<string>playerAnimation.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>